{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<h1>Connexion</h1>

<form class="formLogin" method="post">

    <label for="inputEmail">Email</label>
    <br/>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
    <br/>
    <br/>
    <label for="inputPassword">Password</label>
    <br/>
    <input type="password" name="password" id="inputPassword" required>
    <br/>
    <br/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <br/>
    <button type="submit">Sign in</button>

</form>
{% endblock %}
